{% extends 'mainapp/base.html' %}

{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center my-4">
    {% if products %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Название</th>
            <th scope="col">Дата поступления</th>
            <th scope="col">Единцы измерения</th>
            <th scope="col">Поставщик</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.date }}</td>
              <td>{{ product.measuring_system }}</td>
              <td>{{ product.provider }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="h5 font-weight-bold text-uppercase">
        Увы, но список с товарами пуст
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}