<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label">
          New product
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'main:create_product' %}" method="post" enctype="multipart/form-data">
          {% include 'mainapp/create_product_form.html' %}
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-around">
        <button type="button" class="btn btn-secondary btn-default" data-dismiss="modal">
          Отмена
        </button>
        <button type="button" class="btn btn-secondary" id="add-button">
          Сохранить
        </button>
      </div>
    </div>
  </div>
</div>